@import url(http://fonts.googleapis.com/css?family=Salsa);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

/* Common Styles */

body {
	font-family: 'Open Sans Condensed',sans-serif;
	font-size:16px;
	letter-spacing:1px;	
}
.wrapper {
	width:1200px;
	margin:0 auto;
}
h1, h2, h3, h4, h5, h6 {
	color:#2cad4a;
	margin-bottom:25px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Salsa',sans-serif;
	letter-spacing:normal;
}
h3 {
	font-size:35px;
	margin-bottom:10px;
}
h5 
{   
    font-family: 'Open Sans Condensed',sans-serif;
    font-size:25px;
    margin-bottom:10px;    
}
p {
	line-height:normal;
	margin-bottom:15px;
}
.button {
	font-size:25px;
	display:inline-block;
	background-color:#2cad4a;
	color:#fff;
	padding:10px 25px;
	text-decoration:none;
}
.button:hover {
	text-decoration:none;
}
.banner-button 
{
    text-align:center;
    margin:50px 0;
}
a {
	color:#2cad4a;		
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
p a:hover{
	text-decoration:underline;
}
.bold {
	font-weight:bold;
}
.float-left 
{
    float:left!important;
}
.float-right 
{
    float:right!important;
}
.clear 
{
    clear:both!important;
}
.text-center 
{
    text-align:center!important;
}
.text-left
{
    text-align:left!important;
}
.text-right
{
    text-align:right!important;
}
.relative 
{
    position:relative;
}
/* Header */
header {
	height:160px;
	margin:0 auto;
	background:url("../images/header_bg.png") no-repeat scroll center top;
	background-size:100% auto;
	-moz-background-size: 100% auto;
    -webkit-background-size: 100% auto;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/header_bg.png',sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/header_bg.png',sizingMethod='scale')";	
}
header a:hover {
	text-decoration:none;
}
nav, .heade-right {
	float:left;
	text-align: right;
}
nav {
	width:825px;
	text-align: center;
	margin:17px 0 0 190px;
}
nav  ul li {
	display:inline-block;
	vertical-align: middle;
	font-size:20px;
	margin:0 10px;
}
header nav  li a {
	color:#000;
	text-decoration:none;
}
header nav  li a:hover {
	color:#2cad4a;
}
.main-active, .language select {
	color:#2cad4a;
}
.heade-right {
	width:180px;
}
.logins {
	margin-top:10px;
}
.logins a {
	color:#000;
	text-decoration:none;
}
.language {
	margin-top:15px;
}
.language select {
	font-family: 'Open Sans Condensed',sans-serif;
	font-size:16px;
	width:168px;
}

/* Footer */
footer {
	font-size:18px;
	background:url("../images/footer_bg.jpg") repeat-x center top;
	height:145px;
	padding-top:25px;
}
footer a, footer  {
	color:#fff;
	font-weight:normal;
	text-decoration:none;
}
footer a:hover {
	text-decoration:none;
}
.copyright, .footer-nav, .footer-nav ul, .login-social-links, .website {
	float:left;
}
.copyright, .footer-nav, .login-social-links {
	margin-right:90px;
	
}
.copyright p {
	margin-top:20px;
	line-height:25px;
}
.footer-nav  ul {
	height: 130px;
	border-left:1px solid #fff;
	padding-left: 25px;
}
.footer-nav  ul  li {
	margin-bottom:3px;
}
.footer-active {
	font-weight:bold;
}
.col-1 {
	margin-right:50px;
}
.login-link {
	width:200px;
	text-align:center;
	display:block;
	border:1px solid #fff;
	padding:8px;
	margin-bottom:15px;
}
.social {
	display:inline-block;
	background:url("../images/social_icons.png") no-repeat left top;
	padding:5px 12px;
	margin-right:5px;
}
.fb {background-position:0 0;}
.gp {background-position:-34px 0;}
.in {background-position:-69px 0;}
.pi {background-position:-103px 0;}
.tw {background-position:-172px 0;}
.yt {background-position:-206px 0;}
.website {
	margin-top:50px;
}
.website p {
	font-weight:bold;
	text-align:center;
	line-height:normal;
}
.website p a {
	font-weight:normal;
}

/* Home Page */

.banner {
	width:1100px;
	height:450px;
	padding:25px 50px;
	background:url("../images/banner_bg.png") no-repeat left top;
}
.banner h3, .banner p {
	text-align:left;
}
.product-description {
	margin-top: 50px;
    width: 600px;
	float:left;
}
.product-image {
	float:right;
	width:470px;
	margin-top: 25px;
}
.photo1, .photo2 {
	width:209px;
	color:#2cad4a;
	float:left;
	margin-bottom:25px;
}
.photo1 span, .photo2 span{
	margin-top:10px;
	display: inline-block;
}
.photo1 {
	margin-right:50px;
}
.winner {
	text-align:right!important;
	color:#2cad4a;
}

.white-bg {
	background-color:#fff;
	padding:50px 0;
	text-align:center;
	position:relative;
}
.torn-edge1-top, .torn-edge1-bottom,.torn-edge2-top, .torn-edge2-bottom {
	width: 100%;
	position:absolute;
}
.torn-edge1-top, .torn-edge1-bottom {
	background:url("../images/torn_edge1.png") no-repeat;
}
.torn-edge2-top, .torn-edge2-bottom {
	background:url("../images/torn_edge2.png") no-repeat;
}
.torn-edge1-top {
	height:30px;
	background-position:0 top; 
	top:-30px;
}
.torn-edge2-top {
	height:90px;
	background-position:0 top; 
	top:-90px;
}
.torn-edge1-bottom {
	height:65px;
	background-position:0 bottom;
	bottom:-65px;
}
.torn-edge2-bottom {
	height:45px;
	background-position:0 bottom;
	bottom:-45px;
}	
.three_products {
	background:url("../images/home_middle_img.jpg") no-repeat;
	padding:100px 0;
	text-align:center;
}
.three_products li {
	display:inline-block;
	width:290px;	
}
.three_products h4 {
	font-family: 'Open Sans Condensed',sans-serif;
	font-size:30px;
	font-size: 45px;
}
.part-tlc-left, .part-tlc-right {
	display:inline-block;
	vertical-align:middle;
}
.part-tlc-left {
	width:870px;
	margin-right:50px;
	text-align:left;
}
.part-tlc-right {
	width:200px;
}
.part-tlc-right a.button {
	display:block;
	width:150px;
	margin-bottom:10px;
}
.shop_our_store {
	padding:180px 0;
	text-align:center;
	background:url("../images/home_bottom_img.jpg") no-repeat;
}
.shop_our_store h3 {
	padding: 22px;
	background:url("../images/text_bg.png") no-repeat center center;
}

/* About Page */	
ul.tabs 
{
    margin-bottom:50px;
}	
ul.tabs li {
    display: inline;
    font-size:25px;
    margin:0 10px;
}

ul.tabs li a:hover {
    text-decoration:none;
}
.tab-active 
{
    border-bottom:3px solid #2cad4a;
}
.content
{    
    text-align:left;
}
.about-copy, .about-image 
{
    display:inline-block;
    vertical-align:top;
}
.about-copy 
{
    width:610px;       
}
.about-image 
{
    width:550px;       
}
.about-bottom 
{
  height:450px;
  background:url("../images/about_bottom_img.jpg") no-repeat 0 -190px;  
}

/* Make Changes Page */	

.make-changes-banner 
{
    width:1100px;
	height:450px;
	padding:25px 50px;
    background:url("../images/make_changes_banner_bg.png") no-repeat 0 0;
}
.gift-box 
{
    background:url("../images/gift_icon.png") no-repeat 0 0;
    padding-left:66px;
    margin-top:15px;
}	
.gift-box h4 
{   
    font-family: 'Open Sans Condensed',sans-serif;    
    font-size:25px;
    font-weight:bold;
    margin-bottom: 15px;    
}
.make-changes-left 
{
    width: 550px;
    margin: 90px 0 0 30px;
    float:left;
}
.make-changes-right 
{
    width:160px;
    margin: 150px 180px 0 0;
    float:right;
}
.step1, .step2, .step3 
{    
    display: inline-block;
    padding: 5px 0 5px 40px;
}
.step1 
{
    background:url("../images/thumsup_icon.png") no-repeat 0 center; 
}
.step2 
{
    background:url("../images/check_icon.png") no-repeat 0 center; 
}
.step3 
{
    background:url("../images/badge_icon.png") no-repeat 0 center; 
}
.change_challenge, .winnew_skin 
{
    width:300px;
    display:inline-block;
    margin:0 60px;
} 
.change_challenge p, .winnew_skin p 
{
    text-align:left;
    margin:20px 0;
}
.iaso_kits_bg 
{
    background:url("../images/change_challenge_step2_bg.jpg") no-repeat 0 -90px;
	padding:50px 0 100px 0;
	text-align:center;
}
.iaso_skinkit, .iaso_fitkit
{
    display:inline-block;
    margin:0 100px;
}
.iaso_skinkit h5, .iaso_fitkit h5
{
    font-size:40px;
    margin:20px 0;
}
.prizes 
{
    width:300px;
    display:inline-block;
    vertical-align: top;
    margin:0 40px;
}
.prizes p 
{
    text-align:left;
    margin:20px 0;
}
.make-changes-bottom 
{
    background:url("../images/make_changes_bottom_bg.jpg") no-repeat 0 -90px;
    height:510px;
}

/* Products */
.products-banner 
{
    background:url("../images/products_banner_bg.png") no-repeat 0 0;
    height: 350px;
    padding: 75px 50px;
}
.products-banner .product-image 
{
    margin-top:0;
}
.subheading 
{
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}
.products-nav 
{
    margin-bottom:30px;
}
.products-nav li 
{
    display: inline;
    font-size:25px;
    margin:0 10px;
}
.products-thumbs 
{
    position:relative;
}
.thumbs 
{
    background:url("../images/thumb_bg.png") no-repeat center 0;
    display:inline-block;
    padding: 15px 0;
    margin-bottom: 20px;
    text-align: center;
    width:295px;
}
.thumbs img 
{
    height: 140px;
    margin-top: 10px;
}
.thumbs h4 
{   
    font-family: 'Open Sans Condensed',sans-serif;
    font-size:25px;
}
.info-wrapper 
{
    background:#fff;
    position:absolute;
    top:0;
    left:0;
    display:none;
    text-align:left;
}
.info-breadcrumb span 
{
    color:#000;
}
.info-container 
{
    background:url("../images/product_info_bg.png") no-repeat 0 0;
    background-size:100% auto;
    height:1365px;
    color:#fff;
    padding:60px;    
}
.info-container h4 
{
    color:#fff;
    font-size:30px;
    text-align:center;
}
.info-left, .info-right 
{
    display:inline-block;
    vertical-align:top;
}
.info-left 
{
    width:270px;
    margin-right: 50px;
}
.info-right 
{
    width:750px;
}
.info-thumb 
{   
    width: 205px;  
    height: 205px;
    padding: 30px;    
    background:#fff;
    text-align:center;
}
.info-thumb img 
{
    height:100%;
}
.kits img 
{
    width:100%!important;
    height:auto!important;
}
.info-left a
{
    font-size:25px;
    display:block;
    margin:10px 0;
    padding:6px 0 6px 35px;
}
.info-button 
{
    background:url("../images/buy_now_bg.png") no-repeat center 0;
    font-size: 30px!important;
    padding: 10px 0 18px!important;
    text-align: center;
    margin-top:25px!important;
}
.factsheet, .ingredients, .faqs 
{
    color:#fff!important;
    font-weight:bold;
    background:url("../images/fact_sheet_icon.png") no-repeat 0 5px;
    padding-left:30px;
}

.ingredients 
{
 background-position:0 -40px;
}
.faqs 
{
  background-position:0 -90px; 
}    
.info-header div 
{
    display:inline-block;
}
.info-header-left 
{
    width:565px;
}
.info-header-left h4 
{
    margin-top:0!important;
}
.info-header-left p 
{
    font-size:30px;
}
.info-header-right 
{
    width:180px;
    text-align:right;
    vertical-align:top;
}
.info-header-right p 
{
    font-size:40px;
}
.info-content, .testimonials-wrapper 
{
    overflow:auto;
}
.hr 
{
    border-bottom:1px solid #fff;
    margin:10px 0 30px 0;
}
.testimonials 
{
    margin-bottom:30px;
}
.testimonials img 
{
    vertical-align:top;
}
.testimonials p 
{
    width:460px;
    margin-left:30px;
    display:inline-block;
}
.info-right h4 
{
    font-family: 'Open Sans Condensed',sans-serif;
    font-size:25px;
    text-align:left;
    font-weight:bold;
    margin:20px 0 10px 0;
}
.kits_bottom, .nutritional_bottom, .skincare_bottom, .iasocafe_bottom, .viewall_bottom  
{
    height:560px;
}
.kits_bottom 
{
    background:url("../images/kits_bottom_bg.jpg") no-repeat center 0;     
}
.nutritional_bottom 
{
    background:url("../images/nutrional_bottom_bg.jpg") no-repeat center 0;   
}
.skincare_bottom 
{
    background:url("../images/skincarel_bottom_bg.jpg") no-repeat center 0;
}
.iasocafe_bottom 
{
    background:url("../images/iasocafe_bottom_bg.jpg") no-repeat center -430px;     
}
.viewall_bottom 
{
    background:url("../images/viewall_bottom_bg.jpg") no-repeat center 0;
}

/* Iaso Life */ 

.iaso-life-banner 
{
    height: 360px;
    padding: 90px 600px 60px 94px;
    width: 510px;
    background:url("../images/iasolife_banner_bg.png") no-repeat 0 0;
}
.mega-phone 
{
    background:url("../images/megaphone_icon.png") no-repeat 0 0;
    padding-left:75px;
    margin-top:15px;
}	
.mega-phone h4 
{   
    font-family: 'Open Sans Condensed',sans-serif;    
    font-size:25px;
    font-weight:bold;
    margin-bottom: 15px;    
}
.socla-links ul li
{
    display:inline-block;
}
.socla-links li.blog-link {
    margin-left: 100px;
}
.socla-links li.blog-link a 
{
    font-size:22px;
}
    

.si {
	display:inline-block;
	background:url("../images/social_icons_banner.png") no-repeat left top;
	padding:9px 15px;
	margin-right:5px;
}
.si-fb {background-position:0 0;}
.si-gp {background-position:-40px 0;}
.si-in {background-position:-82px 0;}
.si-pi {background-position:-121px 0;}
.si-tm {background-position:-163px 0;}
.si-tw {background-position:-204px 0;}
.si-yt {background-position:-244px 0;}
.c_and_t, .l_and_r, .h_and_r 
{    
    display: inline-block;
    padding: 5px 0 5px 50px;
}
.c_and_t 
{
    background:url("../images/user_icon.png") no-repeat 0 center; 
}
.l_and_r 
{
    background:url("../images/stack_icon.png") no-repeat 0 center; 
}
.h_and_r 
{
    background:url("../images/recipes_icon.png") no-repeat 0 center; 
}
.l_and_r_img 
{
    margin-bottom:50px;
}
.middle-img
{
    margin:0 130px;
}
.l_and_r_txt div
{
    display:inline-block;
}
.l_and_r_txt .col-1 
{
    width:830px;
    text-align:left;
}
.l_and_r_txt .col-2 
{
    width:300px;
    vertical-align: top;
}
.iasolife-bottom 
{
    background:url("../images/iasolife_bottom_bg.jpg") no-repeat 0 -90px;
    height:510px;
}
.popup 
{
    background:url("../images/popup_bg.png") no-repeat 0 0;
    width:1235px;
    height:495px;
    display:none;
    position:absolute;
    top:0;
    left:0;
}
.popup ul 
{
    overflow:auto;
    width: 1200px;
    height:400px;
    margin-top: 20px;
}
.popup ul li 
{
    display:inline-block;
    color:#fff;
    font-size:20px;
    margin:0 15px 15px 20px;
}
.popup-inner 
{
    position:relative;
    padding-top:30px;
}
.close-btn 
{
    position:absolute;
    right: 15px;
    top: 15px;
    cursor:pointer;
}
.recipe_details li {
 vertical-align: top;
 width: 350px;
 text-align:left;
}
.recipe_details p 
{
    font-size:16px;
}
.recipe_details h4 
{
    font-family: 'Open Sans Condensed',sans-serif;
    font-size:25px;
    font-weight:bold;
}
.recipe_details h4, .recipe_details h5 
{
    color:#fff;
}

/* Contact Us */

.contact-bottom 
{
    height:450px;
    background:url("../images/contactus_bottom_img.jpg") no-repeat 0 -190px;  
}

.contact-top 
{
    padding:320px 0 70px;
}
.contact-top h3 {
	padding: 22px;
	text-align:center;
	background:url("../images/text_bg.png") no-repeat center center;
}
.world_map, .address_bg 
{
    display:inline-block;
    vertical-align:middle;
    margin: 50px 0;
}
.world_map 
{
    background:url("../images/world_map.png") no-repeat center center;    
    width:830px;
    height:395px;
    position:relative;
}
.world_map img 
{
    position:absolute;
}
.usa-pin {top:130px;left:160px;}
.mexico-pin {top:175px;left:145px;}
.tijuana-pin {top:146px;left:105px;}
.columbia-pin {top:145px;left:195px;}
.elsalvador-pin {top:192px;left:172px;}
.india-pin {top:170px;left:550px;}
.bangladesh-pin {top:180px;left:585px;}
.ecuador-pin {top:230px;left:195px;}
.peru-pin {top:250px;left:205px;}
.address_bg 
{
    background:url("../images/address_bg.png") no-repeat center center;    
    width:360px;
    height:360px;
    text-align: center;
}
.address 
{
    display:inline-block;
    text-align:center;
    margin-top: 100px;
}
.address  p 
{
    margin-bottom:0;
    line-height:normal;
}